.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Borderless {
  background-color: transparent;
  border: none;

  width: -webkit-fill-available;
}
.Borderless:focus-visible {
  border: none;
}

.headerTextBold {
  color: #808c9c;
  font-weight: bold;
}

.searchFilter {
  border: 1px solid silver;
  border-radius: 5px;

  margin-right: 10px;
}

.searchFilter:focus {
  border-color: silver;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.control:global(.js-focus-visible) :focus:not(.focus-visible) {
  outline: none;
}
